@import url('https://fonts.googleapis.com/css?family=Raleway');

body{background: url(../images/bg-body.png);font-family: 'Raleway', sans-serif;}
a{display: inline-block;
text-decoration: none;}
ul{list-style: none;
margin: 0;
padding: 0;}
.main-nav a {
  display: block;

  color: black;
  text-align: center;
  padding: 10px 0;
  border-bottom: solid 1px white;


}



*{box-sizing: border-box;}

img{width:65%;height: 65%;margin-left: 12%;margin-top: 10%}


h2{display: block;margin-top:7%;margin-bottom: 0}
p{margin-bottom: 1.5%;margin-right: 2%;margin-top: 15%}




.card-image{display: flex;
flex-direction: column;}


.card-data{display: flex;
flex-direction: column;margin-top: 2%;

}
.card{display: flex;
align-items: stretch;
width:29%;border-radius: 5%;background-color: white;margin:2%;height: 30vh;position: relative}

i{color:#508fb8 ;font-size: 2.5em;margin:30%;}
i{color:#508fb8 ;font-size: 2.5em;margin:30%;}

.card-data a{text-decoration: none;
;background-color:#c7c7c7 ;
opacity: 0.8;
color:white;display: block;
width: 35%;font-size: 1em;height: 13%;text-align: center;list-style: none;line-height: 35px}
ul{list-style: none}
.container,.nav,.columnas{display: flex;flex-wrap: wrap;z-index: 99}
span{display: none}
li{margin-top: 0.5%;}

#enviar-registro{width: 30%;position: relative;left: -2%}




.contacto{position: absolute;top:20%;left: 40%;}
#enviar{width: 50%;position: absolute;left: 0
}
input{border-radius: 8%}

.special{
  position: absolute;
  top:-10%;
  right: 0;

  height: 50px;
  width: 50px;
}
ul li a {float: right;
  margin-right: -2%;position: relative;right: 13%;


width: 15%;}
ul{overflow: hidden;}

.container{margin-top: 3%}
.btn{margin-bottom:1%}
.col1,.col2{float: left;}
.col1{width: 15%;height: 5vh;margin-top: 2.2%;border-radius: 2%;display: flex;flex-wrap: wrap}
.columnas{overflow: hidden;}
#seleccionar{width: 100%;height: 5vh;border-radius: 7%;}
.btn-sel{display: flex;flex-direction: column;width:100%;border-radius: 5%;background-color: white;height: 5vh;position: relative;margin-top: 5%;margin-left: 2%}
.btn-sel button{ background-color: white;width: 100%;height: 100%;margin-left: -10%;border-radius: 10%}
.caja{width: 30%;height: 50vh;background-color: #e0e0d1;margin-top: 2%;border-radius: 5%;margin-left: 2%;z-index: 1000}



@media(max-width: 400px){
  .registro{position: relative;}
  .formulario{position: absolute;top:2%;left: -20%}

}

@media(max-width: 600px){
  .card{display: flex;
  align-items: stretch;
  width:100%;border-radius: 5%;background-color: white;margin:2%;height: 30vh}
  .btn{display: flex;
flex-direction: row;
  width:100%;border-radius: 5%;background-color: white;height: 5vh;position: relative}
  .nav{background-color: grey;height: 30vh}
  .registro{position: relative;}
  .formulario{position: absolute;top:2%;left: 30%}
  #enviar-registro{width: 100%;position: relative;left: -2%;}
  #guardar{width: 100%;height: 30vh;border-radius:10%;position:relative;top:1%;background-color:#e0e0d1}
  .listado{margin-top: 10%}

}



@media(min-width: 600px){

  .btn{display: flex;
  align-items: stretch;
  width:43%;border-radius: 5%;background-color: white;margin-left:5%;margin-top: 5%;height: 5vh;position: relative}
  .nav{background-color: grey;height: 35vh}
  .registro{position: relative;}
  .formulario{position: absolute;top:2%;left: 40%}
  #enviar-registro{width: 100%;position: relative;left: -2%}
  }
  @media(max-width: 599px){
    .card,.boton{display: flex;
    align-items: stretch;
    width:100%;border-radius: 5%;background-color: white;margin:2%;height: 30vh}
.boton{height: 5vh}

}

    @media(min-width: 600px){
      .card,.boton{display: flex;
      align-items: stretch;
      width:45%;border-radius: 5%;background-color: white;margin:2%;height: 30vh}
      .boton{height: 5vh;width: 100%}
        #guardar{width: 45%;height: 30vh;border-radius:10%;position:relative;top:-2%;left:-3.5%;background-color:#e0e0d1}
}



      @media(min-width: 700px){
        .card,.boton{display: flex;
        align-items: stretch;
        width:28%;border-radius: 5%;background-color: white;margin:2%;height: 30vh}
            .boton{height: 5vh;width: 10%}
#guardar{width: 29%;height: 30vh;border-radius:10%;position:relative;top:-3%;left:-3.5%;background-color:#e0e0d1}
      }




    @media(min-width: 900px) {
    .card{display: flex;
    align-items: stretch;
    width:20%;border-radius: 5%;background-color: white;margin:2%;height: 30vh}
    .boton{display: flex;
    align-items: stretch;
    width:10%;border-radius: 5%;background-color: white;margin:2%;height: 5vh}
#guardar{width: 21%;height: 30vh;border-radius:10%;position:relative;top:-4.5%;left:-3.5%;background-color:#e0e0d1}

    #enviar-registro{width: 100%;position: relative;left: -2%;border-radius: 10%;background-color: grey}
    .registro{position: relative;}
    .formulario{position: absolute;top:2%;left: 40%}


    }

    @media(min-width: 990px) {#guardar{width: 21%;height: 30vh;border-radius:10%;position:relative;top:-6.5%;left:-3.5%;background-color:#e0e0d1}}

input{border-radius: 15%;width: 100%}
.formulario{width: 17%}
#mostrar{margin-left: -1%}
.botones{display:flex;flex-wrap: wrap;background-color: grey;width: 100%}
