@import url('https://fonts.googleapis.com/css?family=Raleway');

body{background: url(../images/bg-body.png);font-family: 'Raleway', sans-serif;}



*{box-sizing: border-box;}








.card{display: flex-direction: column;

background-color: white;margin:1%}


ul{list-style: none;}

